body > header {
  overflow: hidden;
  padding-bottom: 4em;
  min-height: 15em;
  padding-top: 10em;
  background-image: url('../images/header-back-train-4.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  color: white;
  background-position: 65% top;
  @include breakpoint($large) {
    background-position: center top;
  }
  h1 {
    color: white;
    font-size: 6em;
    letter-spacing: -3px;
    font-weight: 200;
    text-transform: uppercase;
    margin-bottom: .25em;
  }
  > div {
    @include wrapper;
    > p {
      @include border-radius(1.5em);
      @include adjust-font-size-to(1.1em);
      color: rgba(255,255,255,0.85);
      background: rgba(0,0,0,0.3);
      padding: .75em 2em;
      display: inline-block;
      margin-bottom: 1.5em;
      margin-top: 0;
    }
  }
}
