section.future {
  //background-image: url("../images/pentagon-back.png");
  clear: both;
  h1 {
    background-color: rgba(0,0,0,0.1);
    //color: white;
    padding: 0.5em;
    margin: 0 20%;
  }
  .inner {
    @include wrapper;
  }
}

.future-idea {
  @include border-radius(300px);
  background-color: darkred;
  color: white;
  padding: 30px;
  float: left;
  height: 10em;
  width: 10em;
  text-align: center;
  margin: 1.5%;
  h3 {
    color: white;
  }
}
