section.timeline {
  background-image: url("../images/agsquare-2.png");
  overflow: hidden;
  > div {
    @include wrapper;
    padding-top: 2em;
  }
  .intro {
    max-width: 85%;
    margin: 0 auto;
    border-bottom: 1px solid #DDD;
    padding-bottom: 1em;
    p {
      line-height: 1.5;
      font-weight: 200;
      font-size: 1.2em;
      text-align: center;
      &:first-child {
        font-weight: 700;
      }
    }
  }
  h1 {
    font-size: 3.5em;
    text-align: center;
    margin-bottom: 0;
  }
  .sub {
    text-align: center;
    margin-bottom: 2em;
    color: rgba(0,0,0,0.5);
  }
}

.timeline-list {
  $line-width: 3px;
  $dot-diameter: 2em;
  $offset: - $dot-diameter / 2;
  $content-offset: 2.5em;

  @include strip-list;
  height: 100%;
  position: relative;
  // Vertical line.
  &:after {
    content: "";
    width: $line-width;
    height: 100%;
    background: linear-gradient(left, transparent 0%,#444 50%,transparent 100%);
    position: absolute;
    top: 0;
    @include breakpoint($medium) {
      left: 50%;
    }
  }
  // Items.
  > li {
    @include pie-clearfix;
    background-color: $primary;
    color: #FFF;
    position: relative;
    margin-bottom: 3em;
    min-height: 4em;

    // Alignment.
    text-align: left;
    padding-right: 1em;
    padding-left: $content-offset;
    border-right: 10px solid $secondary;
    &:before {
      left: calc(#{$offset});
    }
    h3 {
      float: left;
      margin-right: 0.25em;
    }
    @include breakpoint($medium) {
    margin-left: calc(50%);
    max-width: 30em;
      &:nth-of-type(2n+1) { // Left hand side items.
        text-align: right;
        margin-right: calc(50%);
        margin-left: auto;
        padding-left: 1em;
        padding-right: $content-offset;
        border-left: 10px solid $secondary;
        border-right: 0;
        &:before {
          right: calc(#{$offset});
          left: auto;
        }
        h3 {
          float: right;
          margin-left: 0.25em;
          margin-right: 0;
        }
      }
    }


    // Dots.
    &:before {
      @include border-radius(3em);
      @include transition(all ease 0.25s);
      content: "+";
      background-color: #CCC;
      text-align: center;
      line-height: 2em;
      font-weight: 200;
      font-size: 2em;
      color: rgba(255,255,255,.8);
      width: $dot-diameter;
      height: $dot-diameter;
      position: absolute;
      top:0;
      display: inline-block;
      z-index: 10;

    }
    &:hover:before {
      background-color: $secondary;
      cursor: pointer;
    }
    &.active:before {
      @include rotate(45deg);
      background-color: $secondary;
    }

    // Content.
    h3 {
      color: #FFF;
      line-height: 1.3;
      padding-top: 0.65em;
      display: inline;
      margin-bottom: 0;
      margin-top: 0;
      &:hover {
        cursor: pointer;
      }
    }
    > time, .time {
      display: inline-block;
      margin-top: 1.35em;
    }
    > div {
      @include transition(all ease 2s);
      clear: both;
      margin-top: 0.5em;
      max-height: 100em;
      overflow: auto;
      &.hidden {
        max-height: 0;
        height: 0;
        overflow: hidden;
      }
    }
  }

}
