//
// Grid & breakpoint variables.
// Requires
// - Breakpoint
// - Singularity

// Grid
$cols: 12;
$gutter: 10px;

// Breakpoints.
$xl: 1250px;
$l: 1080px;
$m: 800px;
$s: 540px;
$xs: 320px;

// Max width

$max-width: 85%;
