//
// Grid & breakpoint variables.
// Requires
// - Breakpoint
// - Singularity

// Grid
$cols: 12;
$gutter: 10px;

// Breakpoints.
$medium: 50em;
$large: 76em;
$massive: 90em;

// Constraint margins.

$c-margin: 5%;
$c-margin-large: 8%;
