//
// Typogrpahy variables
//

$base-font-size: 17px;
$base-line-height: 24px;

$font-family-base: 'Droid Sans', sans-serif;
$font-family-headings: 'Oswald', 'Helvetica Neue', "Helvetica", "Arial", sans-serif;


// Headings Colours
$heading-1-color: $text;
$heading-2-color: $primary;
$heading-3-color: $text-alt;
