//
// Typogrpahy variables
// Requires:
// - Sass Color Boilerplate
//

$font-family-base: 'Open Sans', sans;

// Headings Colours
$heading-1-color: $text;
$heading-2-color: $primary;
$heading-3-color: $text-alt;
