/** Variables **/
$font-family-base: sans-serif !default;
$font-family-monospace: monospace, monospace;
// $font-family: 'Open Sans', sans-serif;

$heading-1-font-size: 2em;
$heading-2-font-size: 1.5em;
$heading-3-font-size: 1em;

$heading-1-color: black;
$heading-2-color: black;
$heading-3-color: black;
